@use "@/scss/index" as *;
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:regular,italic,700,700italic,900,900italic);

* {
    font-family: "Montserrat";
}

html {
    scroll-behavior: smooth;
}


// \/\/\/ ANIMATION WRITE BELOW \/\/\/

@keyframes slide-out {
    0% {
        transform: translateY(toRem(-5)) scale(1.05) translateX(0);
    }
    100% {
        transform: translateX(toRem(1000));
    }
}