@use "@/scss/utils" as *;

.burger-menu {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: transparent;
    position: relative;

    &__open {   
        background: green;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 6;
        width: 100%;
        height: 100%;
        @extend .burger-menu;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include smoothAnimation(400ms);

        [data-burger="list"] {
            visibility: visible;
            position: relative;
            opacity: 1;
            z-index: 11;
        }
    }
}