@use "./utils" as *;

@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:regular,italic,700,700italic,900,900italic);

* {
    font-family: $font;
}

html { scroll-behavior: smooth; }
body {
    margin: 0;
    position: relative;
}

button {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
}

input {
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
    margin: 0;
}

h1,h2,
h3,h4,
h5,h6,
span,p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;
    color: black;

    &:visited {
        color: black;
    }
}