@use "sass:color";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$font: "Montserrat";
$primary-color: #DD9428;
$text-color: #331111;
$maxScreenWidth: 1920;
$mobileScreenWidth: 320;
$tabletScreenWidth: 768;


@function toRem($px) {
    @return calc($px / 16) + rem,
}

@function tone($color, $tone: 1, $dir: up) {
    $adjust: none; 
    @if ($dir == up) { 
        $adjust: $tone * 16;
    } @else {
        $adjust: $tone * -16;
    }
    @return color.adjust( 
        $color,  
        $red: $adjust,  
        $green: $adjust,  
        $blue: $adjust 
    ); 
}

@mixin nest-to-avoid-collision {
    & {
        @content
    }
}

@mixin adaptiveValue($property, $startSize, $minSize, $from: $maxScreenWidth, $to: $mobileScreenWidth) {
    @include nest-to-avoid-collision {
        $addSize: $startSize - $minSize;
        @if $from == $maxScreenWidth {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$to + px}) / #{$from - $to}))
        } @else {
            #{$property}: toRem($startSize);
            @media (max-width: #{toRem($from)}) {
                #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$to + px}) / #{$from - $to}))
            }   
        }
        @if $to != $mobileScreenWidth {
            @media (max-width: toRem($to)) {
                #{$property}: toRem($minSize);
            }
        }
    }
}

@mixin smoothAnimation($duration: 200ms) {
    transition-property: opacity, top, transform, color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: $duration;
}